page-login {
  .login-content {
    background: #56CA96;

    .logo-row {
      padding: 50px;
    }

    .login-box {
      background: #399F8B;
      padding: 20px 20px 20px 20px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 12px !important; // squeeze icon into left side
      //font-size: 0.9em;
      margin-top: 10px;
      margin-bottom: 3px;
      border: 5px solid #ffffff !important;
      box-shadow: none !important;
    }

    ion-item ion-icon[item-left] + .item-inner,
    ion-item ion-icon[item-left] + .item-input,
    ion-item ion-icon[item-start] + .item-inner,
    ion-item ion-icon[item-start] + .item-input {
      margin-left: -8px; // Tighten space between icon and input (use just input padding)
    }

    .login-col, .register-col {
      margin: 0px 16px 0px 16px;
    }
 
    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
      margin: -5px; // outset inner container to compensate for 5px ion-item border
    }

    ion-item.invalid {
      border: 5px solid #ea6153 !important;
      background: #ff8;
    }

    .alert-invalid {
      color: #ff8;
    }
        
    .login-btn {
      background: #51CFB1;
      border-radius: 30px !important;
      border: 1px solid #ffffff; // Default button
    }
 
    .register-btn {
      background: #51CFB1;
      border-radius: 30px !important;
      //color: #ffffff;
      //font-size: 0.8em;
    }
  }
}
