<div>
  <ng-content></ng-content>
  <ion-list inset>
    <ion-item-sliding *ngFor="let todo of todos" #item>
      <ion-item>
        <ion-row>
          <ion-avatar ion-col col-auto>
            <img src="{{todo.user.avatar}}">
          </ion-avatar>
          <div class="todo" ion-col>
            <h2>{{todo.title}}</h2>
            <p>{{todo.notes}}</p>
          </div>
          <ion-note ion-col col-3>
            <h3>Created</h3>
            {{todo.createdAt | date:'M/d/yy h:mm a'}} <br/>
            {{todo.user.email}} <br/>
            <small>{{todo._id}}</small> <br/>
          </ion-note>
        </ion-row>
      </ion-item>

      <ion-item-options side="left" (ionSwipe)="edit(todo._id, item)">
        <button ion-button color="primary" expandable (click)="edit(todo._id, item)">
          <ion-icon class="action-hide" name="create"></ion-icon>
          <div class="action-hide">Edit</div>
        </button >
      </ion-item-options>

      <ion-item-options side="right" (ionSwipe)="remove(todo._id, item)">
        <button ion-button color="danger" expandable (click)="remove(todo._id, item)">
          <ion-icon class="action-hide" name="trash"></ion-icon>
          <div class="action-hide">Delete</div>
          <ion-spinner id="delete-spinner"></ion-spinner>
        </button >
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</div>
