<ion-header>

  <ion-navbar>
    <ion-title>
      Reset Password
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content [ngClass]="'reset-password-content'" padding>
  <ion-row [ngClass]="'logo-row'">
    <ion-col>
      <img src="http://placehold.it/300x200"/>
    </ion-col>
  </ion-row>
  <div class="login-box">

    <form #loginForm="ngForm">

      <ion-row>
        <ion-col id="wrapper">
          <ion-list no-lines>
            <div>
              <div>
                <ion-item [class.invalid]="token.invalid && (token.dirty && token.touched)">
                  <ion-icon name="key" item-left color="label"></ion-icon>
                  <ion-input placeholder="Verification Code" name="token" id="tokenField" type="text" autocorrect="off" required minlength="5" [(ngModel)]="verificationToken"
                    #entryFocus #token="ngModel"></ion-input>
                </ion-item>
              </div>
              <div *ngIf="token.invalid && (token.dirty && token.touched)" class="alert-invalid">
                <div *ngIf="token.errors.required">
                  Verification Code is required.
                </div>
                <div *ngIf="token.errors.minlength && token.touched">
                  Verification Code be at least 5 characters long.
                </div>
              </div>
            </div>
            
            <div>
              <ion-item [class.invalid]="password.invalid && (password.dirty && password.touched)">
                <ion-icon name="lock" item-left color="label"></ion-icon>
                <ion-input placeholder="New Password" name="password" id="passwordField" type="password" autocorrect="off" required [(ngModel)]="credentials.password"
                  #entryFocus2 #password="ngModel"></ion-input>
              </ion-item>
              <div *ngIf="password.invalid && (password.dirty && password.touched)" class="alert-invalid">
                <div *ngIf="password.errors.required">
                  Password is required.
                </div>
              </div>
            </div>

  
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert-invalid">{{error}}</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col [ngClass]="'reset-password-col'">
          <button ion-button class="reset-password-btn" full type="submit" name="resetPassword" [disabled]="loginForm.invalid" (click)="resetPassword()">
            Change Password
          </button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
