# Configuration for NODE_ENV=developer
DEV_APP_HOST=localhost
DEV_APP_PORT=3030
#DEV_PUBLIC="../../www"


# Configuration for NODE_ENV=production
PROD_APP_HOST=localhost
PROD_APP_PORT=3030
#PROD_PUBLIC="../../www"


# Configuration for NODE_ENV=test
TEST_APP_HOST=localhost
TEST_APP_PORT=3030
#TEST_PUBLIC="../../www"
