
/* style-email.css */

table {
  width: 100%;
}

table, tr, th, td {
  border: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

body {
  width: 100%;
  padding: 0;
  background-color: #3E3E3E;
}

table.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  background-color: #3E3E3E;
  color: #000000;
  text-align: center;
}

td.body {
  padding: 1.2em;
  width: 100%;
  text-align: center;
}

table.box {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

td.box {
  padding: 1.2em;
  background-color: #BDBDBD;
}

.header {
  padding: 1em;
  background-color: #4E8EF7;
  color: #FFFFFF;
}

.header td.logo {
  width: 30%;
}

.header td.banner {
  width: 70%;
}

.logo img {
  display: block;
  width: 100%;
  max-width: 8em;
  height: auto;
}

.content {
  padding: 1em;
  background-color: #F9F9F9;
  color: #000000;
}

.reset-btn, .reset-link, .reset-token {
  margin-bottom: 3em;
}

a.reset-btn {
  background-color: #95C71F;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.2em;
  border: 1px solid #95C71F;
  border-radius: 6px;
  margin: 1em auto 1em auto;
}

pre.reset-link, pre.reset-token {
    padding: 0.8em;
    white-space: pre-wrap;
    word-break: keep-all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
}

.footer {
  background-color: #BDBDBD;
}

.feedback {
  color: grey;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2em;
}

div.feedback a {
}


