doctype html
html
 head
  style
   include ../../../config/style-email.css
 body

  table.body
   tr
    td.body

     table.box
      tr
       td.box

        table.layout
         tr
          td.header
           table
            tr
             td.logo
              img(src=logo)
             td.banner
              h1 Account Services

         tr
          td.content
           h1 Hi, #{name}
           p Your password was just reset.

         tr
          td.footer
           .feedback
            p If you did not request this change, please, 
             span
              a(href=`mailto:${supportEmail}?subject=I did not reset my password&body=Someone unauthorized changed my password.`) let us know
            p Big Company, Ltd.
